.fadein {
  opacity: 0.001;
  filter: blur(0rem);
  transform: translateY(0);
  animation: fade-in .5s ease both 300ms;
  will-change: opacity, filter;
}

@keyframes fade-in {
  from {
    opacity: 0.001;
    transform: translateY(1rem);
    filter: blur(.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0rem);
  }
}

@media screen and (640-width: 768px) {
  @keyframes fade-in {
    from {
      opacity: 0.001;
      transform: translateY(1rem);
      filter: blur(.25rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0rem);
    }
  }
}