.themeSwitcher svg {
  transition: clip-path .3s ease-in-out;
}

:global(:not(.dark)) .themeSwitcher svg {
  clip-path: circle(50% at 50% 50%);
}

:global(.dark) .themeSwitcher svg {
  clip-path: circle(22.5% at 50% 50%);
}
